@model SosyalKaldık.Models.EtkinlikModel

@{
    ViewBag.Title = "EtkinlikDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EtkinlikDuzenle</h2>

@using (Html.BeginForm("EtkinlikDuzenle", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" , id = Model.ETK_ID }) )
{
    @Html.AntiForgeryToken()
    <
    <div class="form-group">
        @Html.LabelFor(m => m.ETK_BASLIK, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ETK_BASLIK, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ETK_ACIKLAMA, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ETK_ACIKLAMA, new { @class = "form-control", cols = 35, @rows = 3 })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ETK_SEHIR, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ETK_SEHIR, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ETK_ILCE, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ETK_ILCE, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Kategoriler, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.KAT_ID, Model.Kategoriler)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ETK_TARIH_SAAT, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ETK_TARIH_SAAT, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Değiştir" />
        </div>
    </div>
}
    <script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
    </script>


